@media screen and(max-width:600px){
.landing h3{
    width: 80px;
    margin-left: 0;
    margin-right: 0;
}
.landing .icon {
    display: flex;
    flex-wrap: wrap;
}
.landing h1{
    font-size: 10px;
    padding-left: 0;
    margin-left: 0;
   
}
} 
@media screen and(min-width:600px){
    textarea{
        width: 100px;
        margin-left: 0;
}
.contact button{
    margin: 0;
}
}
@media screen and(min-width:720px){
textarea{
    width: 300px;
    margin-left: 0;
}
}